body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F0F2F5;
    /* background-color: #fbfbfb; */
}

.page-intro {
    /* background-color: white; */
    width: 100vw;
    min-height: 100vh;
}

img {
    max-width: 80%;
}

.mdb-page-content {
    padding-left: 240px;
    transition: padding 0.3s linear;
}

#toggler {
    display: none;
}

@media (max-width: 990px) {
    .mdb-page-content {
        padding-left: 0px;
    }
    #toggler {
        display: unset;
    }
    .mask img {
        width: 100%;
    }
    .card-custom {
        margin: auto;
        width: 100%;
    }
    .header-custom {
        text-align: center;
    }
    .profile-hover {
        margin-top: 1000px;
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="file"] {
    display: none;
}

.upload-profile {
    cursor: pointer;
}

.gradient-custom-outer {
    width: 100%;
    height: 50vh;
    background: #667eea;
    /* background: -webkit-linear-gradient(to right, rgba(102, 126, 234), rgba(118, 75, 162)); */
    background: linear-gradient(to right, rgba(102, 126, 234), rgba(118, 75, 162));
}

.gradient-custom-inner {
    margin: auto;
    margin-top: -22%;
    padding: 10px;
    width: 150vh;
    height: 50vh;
    background: #f093fb;
    /* background: -webkit-linear-gradient(to right, rgba(196, 113, 245), rgba(250, 113, 205)); */
    /* background: linear-gradient(to right, rgba(196, 113, 245), rgba(250, 113, 205)); */
    background: linear-gradient(to right, rgba(240, 147, 251), rgba(245, 87, 108));
}

.color-custom-profile {
    width: 100%;
    height: 40vh;
    /* background: #8474FF; */

    background: #48c6ef;
    background: linear-gradient(to bottom, rgba(72, 198, 239), rgba(111, 134, 214));
}

.color-custom-security {
    width: 100%;
    height: 40vh;
    
    background: #43e97b;
    background: linear-gradient(to top, rgba(67, 233, 123), rgba(56, 249, 215));
}
.color-custom-general {
    width: 100%;
    height: 40vh;

    background: #f6d365;
    background: linear-gradient(to bottom, rgba(246, 211, 101), rgba(253, 160, 133));
}