body,
html {
    min-height: 100%;
}
body {
    background-color: #f0f2f5;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
.content {
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 4rem 1rem 4rem 1rem;
    min-height: 100vh;
    height: auto;
    transition: all 0.2s ease-in-out;
}
.img-fluid {
    width: 90%;
    height: 90%;
}
.img-profile {
    width: 250px;
    height: 250px;
    float: left;
    margin: 25px;
}
.double-nav .breadcrumb-dn {
    color: #fff;
}
.side-nav.wide.slim .sn-ad-avatar-wrapper a span {
    display: none;
}
.button-collapse {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 10;
}
.nav-noti {
    padding-right: 10px;
}
@media (min-width: 1440px) {
    .content {
        padding-left: 250px;
    }
}
@media (max-width: 720px) {
    .main-header {
        font-size: 260%;
    }
}

/* @media screen and (max-width: 990px) {
} */
